<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10" data-aos="fade-up">
                    <!-- Infographic -->
                    <h4 class="title">
                        <a href="https://www.statista.com/chart/28489/ukrainian-military-humanitarian-and-financial-aid-donors/" title="Infographic: The Countries Committing the Most Aid to Ukraine | Statista">Infographic: The Countries Committing the Most Aid to Ukraine</a>
                    </h4>
                        <a href="https://www.statista.com/chart/28489/ukrainian-military-humanitarian-and-financial-aid-donors/" title="Infographic: The Countries Committing the Most Aid to Ukraine | Statista">
                        <img src="https://cdn.statcdn.com/Infographic/images/normal/28489.jpeg" alt="Infographic: The Countries Committing the Most Aid to Ukraine | Statista" style="width: 100%; height: auto; max-width:960px;-ms-interpolation-mode: bicubic;"/>
                        </a>
                    <p class="description">You will find more infographics at <a href="https://www.statista.com/chartoftheday/">Statista</a>.</p>
                </div>
                <div class="col-lg-8 col-md-10" data-aos="fade-up" data-aos-delay="100">
                    The selected infographic provides a comprehensive and current overview of the international aid landscape in support of Ukraine, 
                    amidst ongoing geopolitical tensions. I chose this graphic because it encapsulates not only the quantitative data about the aid provided 
                    by different countries and entities but also presents a clear visual hierarchy that immediately draws attention to the scale of contributions. 
                    The distinction between financial, humanitarian, and military aid is particularly informative, allowing for a nuanced understanding of the multifaceted support extended to Ukraine. 
                    This infographic stands out for its ability to convey complex information in an accessible manner, reflecting the global efforts to support a nation in a time of crisis. 
                    The data, sourced from the <a href="https://www.ifw-kiel.de/topics/war-against-ukraine/ukraine-support-tracker/" target="_blank">IfW Kiel Ukraine Support Tracker</a>, covers a significant period, providing a detailed account of aid from January 24, 2022, to January 15, 2024.
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->
