/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@font-face {
    font-family: 'Pirata One';
    src: url('PirataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}